<section class="image" id="DroneImage">
    <img src="../../assets/fpv-videos/googlesimagExpanded.jpg" alt="Dron para servicios de fotografía y video">
    <div class="titleContainer">
        <h1>Servicios de videos con drones FPV 
            Experiencia Visual Inmersiva con Videos FPV
        </h1>
    </div>
</section>
<section class="welcome">
    <p>
        Nuestros servicios de video con drones FPV ofrecen una experiencia visual inmersiva y emocionante que 
        captura la esencia de tus instalaciones, propiedades y negocios desde una perspectiva única.En Hyperion 
        Art Studios, utilizamos la tecnología FPV para crear videos que te sumergen en el corazón de la acción. 
        Nuestros pilotos habilidosos y equipos de vanguardia garantizan resultados sorprendentes que resaltan la 
        singularidad y el atractivo de tus negocios.
    </p>
</section>
<section class="Whyus">
    <h4>
        Por que elegir a Hyperion Art Studios para servicios de video co drones FPV
    </h4>
    <br>
    <br>
    <ol>
        <li>
            <article >
                Experiencia Técnica y Creativa: Nuestro equipo de pilotos FPV combina habilidades técnicas con 
                creatividad, brindando videos fluidos y emocionantes que capturan la esencia de tu negocio.
            </article>
        </li>
        <br>
        <li>
            <article >
                Tecnología de Vanguardia: Utilizamos drones FPV equipados con cámaras de alta resolución que 
                permiten grabaciones y transmisiones en tiempo real desde una perspectiva única.
            </article>
        </li>
        <br>
        <li>
            <article >
                Atención Personalizada: Comprendemos las necesidades específicas de cada sector y trabajamos en 
                estrecha colaboración contigo para crear videos FPV personalizados que cumplan tus objetivos.
            </article>
        </li>
        <br>
        <li>
            <article >
                Impacto Visual Duradero: Los videos FPV dejan una impresión duradera en tus clientes. 
                Transmiten autenticidad y dinamismo, permitiendo a los espectadores conectarse con tu negocio 
                de una manera única.
            </article>
        </li>
    </ol>
</section>
<section class="fpvVideoGopro">
    <iframe 
    width="728" 
    height="409.5" 
    src="https://www.youtube.com/embed/jRmw9DUxkpQ?si=EJkKsHAWKVU61ZZK" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>