.headerContainer{
    display: flex;
    justify-content: center;
    background-color: #3C3F41;

}

.services{
    margin-left: 10px;
    margin-right: 10px;
}
.services p{
        color: white;
        font-family: 'Chivo', sans-serif;

}

.onCursor :hover, .onCursor :hover p, .onCursor :hover img{
    cursor: default;
    color: rgb(122, 111, 111);
}





#iconHome{
    width: 30px;
}

.flex{
    display: flex;
    align-items: center;
}