<section class="headerContainer">
    <section class="LeftHeaderContainer" *ngIf="!isChecked">
        <div>
            <img src="./../../assets/Iconos/logoHeader.png" alt="Logo Hyperion Art Studios" id="Logo">
        </div>
    </section>
    <section class="RightHeaderContainer onCursor">
        <div class="flex optionMenu onCursor" routerLink="home" (click)="hiddeservices()">
            <p>Inicio</p>
        </div>
        <div class="optionMenu onCursor" id="ourServices" (mouseenter)="onClickServices()" (mouseleave)="onClickServices()">
            <button  class="serviceMenuButton">Nuestros Servicios</button>
            <div *ngIf="showServicesMenu" class="dropDownServices">
                <p routerLink="aerial-photography">Fotografía Aerea</p>
                <p routerLink="advertisment">Publicidad</p>
                <p routerLink="events">Eventos</p>
            </div>
        </div>
        <div class="optionMenu onCursor" routerLink="aboutUs" (click)="hiddeservices()">
            <button >Quienes somos</button>
        </div>
        <div class="optionMenu onCursor" (click)="goToBottom()">
            <button >Contacto</button>
        </div>
    </section>
    <section class="RightHeaderContainer2 container nav-container">
        <input class="checkbox" type="checkbox" name="" id="" [(ngModel)]="isChecked" [checked]="isChecked" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>  
        <div class="menu-items">
            <li><a routerLink="home" (click)="closeMenu()">Inicio</a></li>
            <li><a (click)=" onClickServices()">Nuestros Servicios</a></li>
            <ul *ngIf="showServicesMenu">
                <li><a routerLink="aerial-photography" (click)="closeMenu()">Fotografía Aerea</a></li>
                <li><a routerLink="advertisment" (click)="closeMenu()">Publicidad</a></li>
                <li><a routerLink="events" (click)="closeMenu()">Eventos</a></li>
            </ul>
            <li><a routerLink="aboutUs" (click)="closeMenu()">Quienes somos</a></li>
            <li><a (click)="goToBottom()" (click)="closeMenu()">Contacto</a></li>
        </div>
    </section>    
</section>
