
.headerContainer{
    display: flex;
    justify-content: space-between;
    background-color: #3C3F41;
}

.RightHeaderContainer{
    display: flex;
    justify-content: center;

}

.optionMenu{
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
.optionMenu button{
    color: white;
    background-color: transparent;
    border: none;
    font-family: 'Chivo', sans-serif;
}
.optionMenu div{
    position: absolute;
    top: 60px;
    z-index: 110;
    
}
.serviceMenuButton{ 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

.optionMenu p{
        color: white;
        font-family: 'Chivo', sans-serif;

}


#iconHome{
    width: 30px;
}

.flex{
    display: flex;
    align-items: center;
}
#Logo{
    width: 250px;
}

.dropDownServices{
    background-color: white;
    
} 
.dropDownServices p{
    margin-left: 15px;
    font-family: 'Chivo', sans-serif;
    color: #3C3F41;
}

.optionMenu:hover {
    background-color: white;
}

.RightHeaderContainer div:hover button {
    color: #3C3F41;
}
.RightHeaderContainer div:hover p {
    color: #3C3F41;
}


