<section>
    <section class="image" id="BuildingsImage">
        <img src="../../assets/Home/0_0 (7).png" alt="image">
        <div class="colorGray">
        </div>
        <div class="titlesContainer">
            <h2 clas="title">
                Nosotros somos Hyperion Arts Studios
            </h2>
            <h4 id="subtitle">
                Creamos los videos aereos para tu empresa
            </h4>
        </div>
    </section>
</section>
<section class="containerInfo">
    <div class="text">
        <div>
            <h2>Sobre Hyperion Arts Studios</h2>
            <p>
                Somos una empresa dedicada a la producción de videos y fotografía aerea, nuestra misión es darle
                a las empresas impacto en el contenido de sus medios informaticos por medio de imagenes aereas de
                alta calidad.
            </p>
        </div>

    </div>
    <div>
        <img src="../../assets/AboutUS/ilustration.png" alt="image" id="imageIlustration">
    </div>

</section>



