.colorGray{
    position: absolute;
    background-color: #3C3F41;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity:  0.5;
}

.whyUs{

    font-family: 'Chivo', sans-serif;
    color: white;
    z-index: 200;
}

#BuildingsImage{
    height: auto;
}
.image{
    overflow: hidden;
    width: 100%;
    position: relative;
    max-height: 350px;
    height: 90%;

}

img{
    width: 100%;
    height: auto;
}
.titlesContainer{
    position: absolute;
    top: 0.5em;
    left: 50px;
    font-family: 'Chivo', sans-serif;
    color: white;
    z-index: 200;
}


.containerInfo{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #3C3F41;
    font-family: 'Chivo', sans-serif;
    color: white;
    display: flex;
    height: auto;
}


.containerInfo div{
    
    width: 50%;


}
.text{
    position: relative;
    margin-left: 10%;
    padding-bottom: auto;
    display:flex;
    align-items: center;

}
.text div{
    position: absolute;
    width: 100%;
}


.welcome p{
    padding: 50px;
    color: white;
    margin: 0px;
    text-align: center;
}

#imageIlustration{
    padding: 10%;
    width: 80%;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .text div h1{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h1{
        font-size: 1em !important;
    }
    h2{
        font-size: 0.5em !important;
    }
    h4{
        font-size: 0.4em !important;
    }

    p{
        font-size: 0.2em !important;
    }

}