<section>
    <section class="image" id="weddingImage">
        <img src="../../assets/Events/boda.png" alt="image">
        <div class="colorGray">
        </div>
        <div class="titlesContainer">
            <h2 clas="title">
                Eventos
            </h2>
        </div>
    </section>
</section>
<section class="eventMainText">
    <p>
       ¡Imagina tu boda o celebración convertida en una obra de arte audiovisual, con momentos 
       llenos de emoción y paisajes impresionantes! Los videos aéreos con drones transformarán 
       tu evento en una experiencia mágica que perdurará en el tiempo y te permitirá revivir 
       esos momentos especiales una y otra vez. ¡No pierdas la oportunidad de crear recuerdos 
       únicos y emotivos con esta innovadora y espectacular forma de capturar tu evento!
    </p>
</section>
<section class="kindEvents">
    <div>
        <h4>Cobertura cinematográfica</h4>
        <p>
            Imagina tener una película de tu boda o celebración, capturando cada detalle desde 
            el cielo. Los videos aéreos añaden una dimensión cinematográfica y elegante, 
            convirtiendo tu evento en una producción única y emotiva.    
        </p>
    </div>
    <div>
        <h4>Escenarios impresionantes</h4>
        <p>
            Si tu boda o celebración tiene lugar en un lugar con vistas espectaculares, los videos 
            aéreos pueden capturar la majestuosidad del entorno y destacar aún más la belleza del evento.    
        </p>
    </div>
    <div>
        <h4>Perspectivas únicas</h4>
        <p>
            Los drones pueden capturar ángulos y tomas que no se pueden lograr con cámaras tradicionales. 
            Desde tomas aéreas de la ceremonia hasta vistas panorámicas de los invitados, los videos aéreos 
            ofrecen perspectivas únicas y emocionantes.    
        </p>
    </div>
    <div>
        <h4>Recuerdo duradero</h4>
        <p>
            Los videos aéreos de tu boda o celebración se convertirán en un recuerdo atemporal y emotivo que 
            podrás compartir con familiares y amigos durante toda la vida.    
        </p>
    </div>

</section>
<app-services-panel [serviceData] = "servicePanelInfo" *ngIf="servicePanelInfo"></app-services-panel>


