<section class="image" id="DroneImagecar">
    <img src="../../assets/Add/car.png" alt="Dron para servicios Publicidad">
    <div class="titleContainer">
        <h1>{{serviceCopys['Publicidad'].serviceName}}</h1>
    </div>
</section>
<section class="applications">
    <section class = "applicationItem">   
        <section class="DescriptionContainer">
            <h2 class="descriptionText">
                Comerciales y Anuncios Publicitarios
            </h2>
            <p>
                Proporciona una perspectiva única y atractiva que destaca tu mensaje 
                publicitario y crea una conexión emocional con tu audiencia.
            </p>
        </section> 
    </section>
    <section class = "applicationItem">   
        <section class="DescriptionContainer">
            <h2 class="descriptionText">
                Videos promocionales de destinos turísticos
            </h2>
            <p>
                Ofrece a tus huéspedes una vista panorámica de tus instalaciones y serviciosLos 
                videos aéreos son perfectos para mostrar la belleza de los destinos turísticos 
                en Colombia. 
            </p>
        </section>
    </section>
    <section class = "applicationItem">   
        <section class="DescriptionContainer">
            <h2 class="descriptionText">
                Cobertura de eventos
            </h2>
            <p>
                Los videos aéreos pueden agregar un nivel adicional de emoción y dinamismo a la 
                cobertura de eventos. Desde conciertos y festivales hasta eventos deportivos o 
                corporativos, las tomas aéreas permiten capturar la grandeza y la energía del 
                evento de una manera única.
            </p>
        </section> 
    </section>

</section>
<app-services-panel [serviceData] = "servicePanelInfo" *ngIf="servicePanelInfo"></app-services-panel>
