<section>
    <section class="image" id="BuildingsImage">
        <img src="../../assets/Home/0_0 (7).png" alt="Dron para servicios de Fotografía y producción audiovisual">
        <div class="colorGray">
        </div>
        <div class="titlesContainer">
            <h1 clas="title">
                Blog
            </h1>
        </div>
    </section>
</section>
<section class="containerInfo">
    <div class="text">
        <div>
            <h2>Como los drones está transformando los deportes en el mundo</h2>
            <p class="blogText">
                La fotografía aérea en deportes ha experimentado una verdadera revolución 
                con la introducción del dron, también conocido 
                como vehículo aéreo no tripulado (VANT). Estos drones permiten a los 
                fotógrafos capturar instantáneas únicas y emocionantes de competiciones 
                deportivas desde alturas antes inaccesibles. Con el dron, se pueden obtener 
                tomas aéreas sorprendentes que destacan la dinámica de un juego, la emoción 
                de una carrera o la gracia de un atleta en plena acción. La fotografía aérea 
                con dron abre una nueva dimensión de posibilidades creativas en el mundo de 
                los deportes, mostrando ángulos y perspectivas que realzan la belleza y la 
                intensidad de cada momento. Ya sea en un estadio repleto durante los Juegos 
                Olímpicos, una competencia de ciclismo desafiante o un partido de fútbol electrizante, 
                el dron se ha convertido en un aliado indispensable para inmortalizar esos 
                instantes deportivos inolvidables desde el cielo. Así, la fotografía aérea 
                con dron se ha consolidado como una herramienta crucial para documentar y 
                celebrar el espíritu competitivo y la grandeza atlética en el mundo del deporte.
            </p>
        </div>

    </div>

</section>
