<section class="image" id="DroneImage" >
    <img src="../../assets/Home/HomeImage1.png" alt="Dron para servicios de fotografía y video">
    <h1 id="title">Imagina el Mundo Desde las Alturas: Servicios de Fotografía y Videos Aéreos en Colombia</h1>
    <h3 id="SubTitle">Grabación, edición, producción de fotografía aerea con drones</h3>
</section>
<section class="welcome">
    <p>
        Bienvenido a Hyperion Art Studios Colombia, donde transformamos tu visión en imágenes aéreas de ensueño. 
        Nuestro equipo de expertos en drones te brinda servicios audiovisuales únicos que 
        capturan la grandeza y la emoción desde el cielo. Desde eventos inolvidables hasta 
        proyectos inmobiliarios y campañas publicitarias impactantes, nuestras imágenes 
        aéreas elevarán tu marca a nuevas alturas.
    </p>
</section>
<h2 id="focus">Nuestro Enfoque</h2>
<section class = "services">
    <div class="service" [@foobar]="states.stateServiceFotography" ngModel #photografy>
        <h2>
            Fotografia Aerea
        </h2>
        <figure class="imageService">
            <img src="../../assets/Home/fotografíaAerea.png" alt="Imagen Fotografia aerea" id = "fotografiaAereaImg">
        </figure>
        <p class="FocusText">
            Descubre el poder de las perspectivas aéreas en tus eventos y proyectos. Nuestros 
            drones capturan cada detalle desde lo más alto, creando imágenes impresionantes y 
            emotivas. Desde bodas y celebraciones hasta paisajes naturales y propiedades inmobiliarias, 
            nuestras tomas aéreas agregarán un toque mágico a tus recuerdos y proyectos.
        </p>
    </div>
    <div class="service" [@DowntoUp]="states.stateServiceEvents" ngModel #events>
        <h2>
            Eventos Personales
        </h2>
        <figure class="imageService">
            <img src="../../assets/Home/eventosPersonales.png" alt="Fotografía servicio eventos personales" id = "eventosPersonalesImg">
        </figure>
        <p class="FocusText">
            Nuestros videos aéreos son verdaderas obras de arte en movimiento. Con una cinematografía de 
            primer nivel, llevamos la narrativa de tus proyectos a nuevas alturas. Impresiona a tus clientes 
            con tomas panorámicas, secuencias dinámicas y escenas cautivadoras. Desde comerciales
            publicitarios hasta cobertura de eventos, nuestros videos aéreos dejarán una impresión duradera.
        </p>
    </div>
    <div class="service" [@RighttoLeft]="states.stateServiceAdvertisment" ngModel #advertisment>
        <h2>
            Publicidad
        </h2>
        <figure class="imageService">
            <img src="../../assets/Home/servicioPublicidad.png" alt=" Fotografía servicios de publicidad" id = "publicidadImg">
        </figure>
        <p class="FocusText">
            Nuestro equipo de edición se asegura de que cada imagen y video aéreo cuente una historia cautivadora. 
            Con una combinación perfecta de creatividad y habilidades técnicas, creamos producciones audiovisuales 
            que te dejarán sin aliento. Realzamos la belleza natural de tus proyectos y eventos, 
            garantizando que cada toma brille con elegancia y estilo.
        </p>
    </div>
</section>
<section class="image" id="BuildingsImage">
    <img src="../../assets/Home/0_0 (7).png" alt="Fotografía imagen dron">
    <div class="colorGray">
    </div>
    <h2 id="whyUs">
        Por qué elegirnos
    </h2>
</section>
<section class="reasons">
    <ol>
        <li>
            <article >
                Experiencia y Profesionalismo: Contamos con un equipo de expertos en drones con
                 amplia experiencia en la industria audiovisual.
                 Nuestra pasión por la fotografía y la producción de videos nos impulsa
                a superar expectativas y crear resultados excepcionales para nuestros clientes.
            </article>
        </li>
        <br>
        <li>
            <article >
                Tecnología Avanzada: Utilizamos drones de última generación y equipos de alta calidad
                 para garantizar tomas aéreas precisas, nítidas y cinematográficas. Nuestros pilotos
                  y técnicos están capacitados para operar en diversos escenarios y condiciones,
                   asegurando resultados sobresalientes.
            </article>
        </li>
        <br>
        <li>
            <article >
                Creatividad e Innovación: Nos enorgullecemos de nuestra habilidad para crear imágenes
                 y videos únicos y emocionantes. Siempre estamos buscando nuevas formas de capturar
                  momentos especiales y destacar la esencia de cada proyecto.
            </article>
        </li>
        <br>
        <li>
            <article >
                Atención Personalizada: Entendemos que cada cliente y proyecto es único. Trabajamos
                 de cerca contigo para comprender tus necesidades y objetivos, ofreciendo soluciones
                  personalizadas que se ajusten a tu visión y presupuesto.
            </article>
        </li>
    </ol>

</section>
<app-services-panel [serviceData] = "servicePanelInfo" *ngIf="servicePanelInfo"></app-services-panel>
