<section class="image" id="DroneImage">
    <img src="../../assets/Aerial-Photography/building1.png" alt="Dron para servicios de fotografía y video">
    <div class="titleContainer">
        <h1>{{serviceCopys['Fotografía Aérea'].serviceName}}</h1>
    </div>
</section>
<section class="welcome">
    <p>
        ¿Imaginas mostrar una propiedad desde una vista aérea impresionante? 
    </p>
    <br>
    <p>
        Ayuda a los compradores potenciales a tener una visión completa del lugar 
        y a tomar decisiones informadas.
    </p>
</section>
<section class="applications">
    <section class = "applicationItem">   
        <section class="DescriptionContainer">
            <h2 class="descriptionText">
                Fotografía Aerea para inmobiliarias
            </h2>
            <p>
                Realza la belleza de tus propiedades y proyectos inmobiliarios con tomas aéreas 
                cautivadoras. Nuestras imágenes aéreas ofrecen una perspectiva completa de las 
                propiedades, mostrando su ubicación, entorno y características de manera impresionante.
            </p>
        </section> 
        <section class="ImageContainer">
            <img src="../../assets/Aerial-Photography/realstate.png" alt="Dron para servicios de fotografía y video">
        </section> 
    </section>
    <section class = "applicationItem">   
        <section class="DescriptionContainer">
            <h2 class="descriptionText">
                Turismo y Hotelería
            </h2>
            <p>
                Muestra la belleza natural de tus destinos turísticos desde las alturas, 
                capturando paisajes impresionantes y atrayendo a más visitantes.
                Ofrece a tus huéspedes una vista panorámica de tus instalaciones y servicios
            </p>
            <br>
            <p>
                Ofrece a tus huéspedes una vista panorámica de tus instalaciones y servicios
            </p>
        </section> 
        <section class="ImageContainer">
            <img src="../../assets/Aerial-Photography/Turismo.png" alt="Dron para servicios de fotografía y video">
        </section> 
    </section>
    <section class = "applicationItem">   
        <section class="DescriptionContainer">
            <h2 class="descriptionText">
                Inspecciones de Infraestructuras y Obras
            </h2>
            <p>
                Obtén una visión completa y detallada de infraestructuras como edificios, 
                puentes o torres de comunicación, para análisis de mantenimiento y 
                seguimiento de proyectos.
            </p>
            <br>
        </section> 
        <section class="ImageContainer">
            <img src="../../assets/Aerial-Photography/Obra.png" alt="Dron para servicios de fotografía y video">
        </section> 
    </section>
</section>
<app-services-panel [serviceData] = "servicePanelInfo" *ngIf="servicePanelInfo"></app-services-panel>
